nextflow.enable.dsl=2

process {
  executor = 'slurm'
  queue    = 'gpu'
  scratch  = true

  cpus   = 2
  memory = '4 GB'
  time   = '30m'
}

singularity {
  enabled      = true
  autoMounts   = true
  cacheDir     = "${baseDir}/work/singularity_cache"

  // IMPORTANT on many clusters:
  // If your system provides apptainer but not singularity, Nextflow must use this.
  // (If your cluster actually has "singularity", this setting is still usually fine if apptainer exists.)
  binary = 'apptainer'
}

report {
  enabled   = true
  file      = "${baseDir}/results/nf_report.html"
  overwrite = true
}

timeline {
  enabled   = true
  file      = "${baseDir}/results/nf_timeline.html"
  overwrite = true
}

trace {
  enabled   = true
  file      = "${baseDir}/results/nf_trace.txt"
  overwrite = true
}
